body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pizza-img {
  width: 140px;
  height: 120px;
}

.pizza-card {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  
}

.pizza-card-box {
  width: 250px;
  margin: 0 10px;
  border: 2px solid black;
  background-color: azure;
}

.body-wrapper {
  display: flex;
  justify-content: space-between;
  
}

.aside-basket {

  border: 2px solid black;
  height: 400px;
  margin-top: 20px;
  overflow-y: auto; 
  width: 350px;
} 

.add-btn {
  margin: 10px;
}

.search-input {
  margin: 10px;
  width: 80%;
}

body {
  background-color: aliceblue;
}